In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [8]:
with open('html.txt', 'r', encoding='utf8') as file:
    html = file.read().replace('\n', '')

soup = BeautifulSoup(html, 'html.parser')

In [17]:
# get the countries urls
urls = soup.select('#main-content > div.b-countries-listing > ul > li> a')

In [22]:
links=[]
for i in range(len(urls)):
    links.append('https://latitude.to'+urls[i]['href'])

In [76]:
names=[]
latitudes=[]
longitudes=[]

In [127]:
for link in links:
    result = requests.get(link).content
    newsoup = BeautifulSoup(result, "lxml")
    lat_long=newsoup.select('#main-content > div.right-col > div > p.desc')
    lat_long[0]=lat_long[0].text.split(':')
    try:
        latitudes.append(lat_long[0][1][:-9].replace("\'",""))
    except:
        latitudes.append("not found")
    try:
        longitudes.append(lat_long[0][2].replace("\'",""))
    except:
        longitudes.append("not found")

## handling output using string methods because latitudes & longitudes in the body as text not element

In [30]:
mystr ='Latitude: 33° 56\' 2.54\" N Longitude: 67° 42\' 12.35\" E'
mystr=mystr.split(':')

In [126]:
lat_long[0][1][:-9]

' -19° 01\' 0.92" S'

In [50]:
mystr[1][:-10].replace("\'","")

' 33° 56 2.54" N'

In [59]:
mystr[2].replace("\'","")

' 67° 42 12.35" E'

In [71]:
link ='https://latitude.to/map/af/afghanistan'
result = requests.get(link).content
newsoup = BeautifulSoup(result, "lxml")
name = newsoup.select('#main-content > div.right-col > div > div.heading.bg-flag.af > h2 > span:nth-child(2)')
lat_long=newsoup.select('#main-content > div.right-col > div > p.desc')

In [104]:
names =[]

In [105]:
for url in urls:
    names.append(url.text.split('(')[0])

In [117]:
for i in range(len(longitudes)):
    longitudes[i]=longitudes[i][0:-1]

## check attributes

In [141]:
print(len(names) == len(longitudes))
print(len(names) == len(latitudes))

True
True

## Create Dataframe

In [136]:
info ={
    'Country':names,
    "latitude":latitudes,
    'longitude':longitudes
}

In [137]:
df = pd.DataFrame(info)

In [138]:
df.head()

           Country           latitude           longitude
0     Afghanistan      33° 56 2.54" N     67° 42 12.35" E
1   Aland Islands     60° 11 58.38" N     20° 22 16.22" E
2         Albania     41° 09 10.46" N     20° 09 38.06" E
3         Algeria     28° 01 44.34" N      1° 39 60.00" E
4  American Samoa    -14° 18 23.07" S   -170° 41 42.06" W

## Save data

In [139]:
df.to_csv('dataV2.csv',index=False)